/* plan page css */

* {
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}

body {
    font-family: 'Public Sans', sans-serif;
}

img {
    margin-left: 45px;
    margin-top: 30px;
    width: 150px;
    cursor: pointer;
}

.heding1 {
    text-align: center;
    margin-top: 50px;
    font-size: 30px;
    line-height: 1.5;
}

.p3 {
    font-size: 12px;
    color: #637381;
    font-weight: bold;
    margin-left: 50px;
}

.p {
    font-size: 12px;
    color: #637381;
    font-weight: bold;
    text-align: center;
}

.p1 {
    font-size: 12px;
    font-weight: bold;
    color: #00AB55;
}

.pop {
    font-size: 12px;
    font-weight: 700;
    float: right;
    padding: 5px;
    border-radius: 5px;
    margin-right: -15px;
    margin-top: -15px;
    background-color: rgba(24, 144, 255, 0.16);
    color: #0C53B7;
}

.save {
    margin-right: 162px;
}

.pera {
    text-align: center;
    color: #637381;
    font-weight: 400;
    font-size: 1rem;
}

.month {
    font-size: 0.75rem;
    font-weight: 700;
    text-transform: uppercase;
    text-align: right;
}

.plus {
    font-weight: 400;
    text-align: right;
    color: #637381;
    display: block;
    font-size: 0.75rem;
}

.flex {
    display: flex;
    flex-direction: row;
    column-gap: 25px;
    justify-content: center;
    margin-top: 30px;
    height: auto;
    text-align: center;
}

.item1 {
    width: 380px;
    border-radius: 15px;
    padding: 30px;
    box-shadow: 0 0 2px 0 rgb(145 158 171 / 20%), 0 12px 24px -4px rgb(145 158 171 / 12%);
}

.item2 {
    width: 380px;
    border-radius: 15px;
    padding: 30px;
    box-shadow: 0 0 2px 0 rgb(145 158 171 / 20%), 0 12px 24px -4px rgb(145 158 171 / 12%);
}

.item3 {
    width: 380px;
    border-radius: 15px;
    padding: 30px;
    box-shadow: 0 0 2px 0 rgb(145 158 171 / 20%), 0 12px 24px -4px rgb(145 158 171 / 12%);
}

.line {
    line-height: 2;
}

.line h2 {
    font-size: 2.75rem;
}

span {
    font-size: 1rem;
    color: #637381;
    padding-left: 5px;
}

.doller {
    font-size: 1rem;
    padding-right: 10px;
    color: #637381;
}

.detail {
    text-align: justify;
    text-transform: capitalize;
    line-height: 2.5;
    padding-left: 4rem;
    font-size: 0.875rem;
}

.img {
    width: 20%;
    margin-left: -3px;
}

.color {
    color: gray;
}

i {
    padding-right: 20px;
}

.button1 {
    margin-top: 30px;
    padding: 15px;
    border-radius: 10px;
    border: none;
    color: white;
    font-weight: 700;
    font-size: 0.875rem;
    width: 75%;
    cursor: pointer;
    background-color: #00AB55;
}

.button {
    margin-top: 30px;
    padding: 15px;
    border-radius: 10px;
    border: none;
    font-weight: 700;
    font-size: 0.875rem;
    width: 75%;
    background-color: rgb(234, 230, 230);
}

.button1:hover {
    background-color: #007B55;
}

.switch {
    position: relative;
    display: inline-block;
    width: 35px;
    height: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

input[type="checkbox"] {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding-top: 30%;
    margin-top: 10%;
    margin-right: 5px;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 0px;
    margin-top: -45%;
    margin-left: -18%;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #8bf5c0;
}

input:focus+.slider {
    box-shadow: 0 0 1px #00AB55;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    background-color: #00AB55;
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

@media screen and (min-width:300px) and (max-width:599px) {
    * {
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
    }
    .flex {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 25px;
        row-gap: 15px;
    }
    .icon {
        width: 100px;
    }
    .heding1 {
        margin-top: 10px;
        font-size: 24px;
    }
    .pera {
        margin: 5px;
    }
    .save {
        margin-top: 10px;
        margin-right: auto;
        padding-right: 35px;
    }
}

@media screen and (min-width:600px) and (max-width:899px) {
    .flex {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: calc(100% + 24px);
    }
    .save {
        margin-top: 10px;
        margin-right: auto;
        padding-right: 40px;
    }
}

@media screen and (min-width:900px) and (max-width:1100px) {
    .flex {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .save {
        margin-right: 10px;
    }
}